.idea {
  font-size: 28px;
  text-align: center;
  margin: 0 0 8px;
}

.example {
  display: flex;
  min-height: 380px;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  margin-top: 20px;
}

header,
.split {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tilt h1 {
  font-size: 34px;
}

.tilt h1,
.tilt h2 {
  font-size: 26px;
  font-weight: 700;
  color: #fff;
}

header h1,
header h2 {
  font-weight: 400;
  transform: translateZ(50px);
  text-align: center;
}

.tilt span {
  font-weight: 400;
  display: block;
}

.tilt h1 span {
  margin-top: 6px;
  font-size: 18px;
}

.tilt h2 span {
  margin-top: 3px;
  font-size: 14px;
}

.content,
.example {
  padding: 10px 20px;
}

.content:first-child {
  padding-top: 10px;
}

header h3 {
  margin-bottom: 40px;
}

.primary {
  display: flex;
  justify-content: center;
}

main .primary {
  margin: 30px 0;
}

.split > div {
  width: 50%;
  display: flex;
  justify-content: center;
}

.tilt {
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.tilt .shine {
  transform: translateZ(0);
  border-radius: 10px;
}

.secondary .tilt {
  width: 200px;
  height: 200px;
  margin: 14px 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.primary .tilt {
  width: 200px;
  height: 200px;
}

header .primary .tilt {
  width: 240px;
  height: 240px;
  margin: 30px 0;
  background: #ff0084;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background: linear-gradient(45deg, #3c3aad 0%, #f7c340 100%);
}

.split > div:first-child .tilt {
  background: #ff0084;
  background: linear-gradient(150deg, #5a00ff 0%, #ff1ff7 100%);
}

.split > div:last-child .tilt {
  background: #ff0084;
  background: linear-gradient(135deg, #347cf7 0%, #f6290c 100%);
}

.tilt-inner {
  width: 60%;
  height: 60%;
  position: absolute;
  border-radius: 10px;
  transform: translateZ(70px);
  box-shadow: 0 0 50px 0 rgba(51, 51, 51, 0.3);
  background-color: #fff;
}

.output {
  margin: 0;
  height: 200px;
  padding: 0 10px;
  list-style: none;
  overflow: scroll;
}

.example h3 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}

.example .secondary {
  padding-top: 10px;
}

.example:nth-child(5) .tilt,
.example:nth-child(5) h3 {
  background: #a90329;
  background: linear-gradient(135deg, #a90329 0%, #eb8415 100%);
}

.example:nth-child(6) .tilt,
.example:nth-child(6) h3 {
  background: #b7deed;
  background: linear-gradient(135deg, #b7deed 0%, #6321de 100%);
}

.example:nth-child(7) .tilt {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.example:nth-child(7) .tilt,
.example:nth-child(7) h3 {
  background: #ebceb7;
  background: linear-gradient(45deg, #ebceb7 0%, #de21de 100%);
}

.example:nth-child(8) .tilt,
.example:nth-child(8) h3 {
  background: #1dde5d;
  background: linear-gradient(45deg, #1dde5d 0%, #1f3b08 100%);
}

.example:nth-child(9) .tilt,
.example:nth-child(9) h3 {
  background: #c5cf76;
  background: linear-gradient(45deg, #c5cf76 0%, #49a5bf 100%);
}

.example:nth-child(10) .tilt,
.example:nth-child(10) h3 {
  background: #ccc;
  background: linear-gradient(45deg, #ccc 0%, #333 100%);
}

.example:nth-child(11) .tilt,
.example:nth-child(11) h3 {
  background: #f3e2c7;
  background: linear-gradient(45deg, #f3e2c7 0%, #b68d4c 100%);
}

.example:nth-child(12) .tilt,
.example:nth-child(12) h3 {
  background: #cb60b3;
  background: linear-gradient(135deg, #cb60b3 0%, #a80077 100%);
}

.example:nth-child(13) .tilt,
.example:nth-child(13) h3 {
  background: #f1e767;
  background: linear-gradient(45deg, #f1e767 0%, #feb645 100%);
}

.example:nth-child(14) .tilt,
.example:nth-child(14) h3 {
  background: #696bff;
  background: linear-gradient(338deg, #696bff 0%, #8cffe6 100%);
}

@media (min-width: 520px) {
  .split {
    flex-direction: row;
  }

  .secondary .tilt {
    margin: 16px;
  }
}

@media (min-width: 760px) {
  header {
    top: 0;
    width: 20vw;
    min-width: 320px;
    display: block;
    height: 100vh;
    height: var(--vh);
    position: sticky;
    border-right: 1px solid #444;
    overflow-y: auto;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
  }

  main {
    overflow: hidden;
    width: 80vw;
  }

  .content,
  .example {
    padding: 20px 40px;
  }

  .split {
    margin-bottom: 20px;
    flex-direction: column;
  }

  .idea {
    margin-bottom: 10px;
  }
}

@media (min-width: 1100px) {
  .example {
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
  }

  .example .primary {
    width: 40%;
  }

  .example .secondary {
    padding-top: 0;
    padding-left: 30px;
    width: 60%;
  }
}

/* PrismJS 1.16.0
https://prismjs.com/download.html#themes=prism-okaidia&languages=markup+css+clike+javascript */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);

  font-family: "IBM Plex Mono", monospace;

  font-weight: 500;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #21272d;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #e6db74;
}

.token.keyword {
  color: #66d9ef;
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
