body {
  margin: 0;
  min-width: 320px;
  font-family: "Quicksand", sans-serif;
  background-color: #131a20;
  color: #f8f8f8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  margin: 0 0 4px;
  font-weight: 700;
  font-size: 25px;
}

p {
  font-size: 18px;
  margin: 12px 0;
}

a {
  text-decoration: none;
}

.wrap {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
}

svg {
  margin-right: 10px;
}

p > code {
  border-radius: 0.3em;
  background: #21272d;
  padding: 3px 6px;
}

@media (min-width: 760px) {
  .wrap {
    flex-direction: row;
  }
}
